.encabezado-telarañas {
    background-size: cover; /* Asegura que la imagen cubra todo el encabezado */
    background-position: center; /* Centra la imagen */
    position: fixed; /* Fija el contenedor */
    top: -5vh; /* Lo coloca en la parte superior */
    left: -5vw; /* Lo alinea a la izquierda */
    /* width: 110%; */ /* Ocupa todo el ancho */
    width: 110vw; /* Ocupa todo el ancho de la ventana */
    z-index: -10; /* Para que esté encima de todo */
    pointer-events: none;
}

.encabezado-telarañas img {
    display: block; /* Importante para evitar espacios extraños */
    width: 100%; /* Hace que la imagen ocupe el 100% del ancho de su contenedor (.encabezado-telarañas) */
    height: auto; /* Mantiene la proporción de la imagen al escalar */
    filter: blur(2px)
    invert(25%)
}

body {
    /* Añade un margen superior para evitar que el contenido se oculte detrás del encabezado fijo */
    padding-top: 100px; 
}

@media (prefers-color-scheme: dark) {
    .encabezado-telarañas img {
        display: block; /* Importante para evitar espacios extraños */
        width: 100%; /* Hace que la imagen ocupe el 100% del ancho de su contenedor (.encabezado-telarañas) */
        height: auto; /* Mantiene la proporción de la imagen al escalar */
        filter: blur(2px)
        invert(75%)
        
}
}

.btn_COMENTARIOS {
    display: inline-block;
    background-color: rgba(129, 129, 129, 0.59);
    margin: 25px;
    padding: 25px;
}

.btn_INICIO {
    display: inline-block;
    background-color: rgba(129, 129, 129, 0.59);
    margin: 25px;
    padding: 25px;
}

.btn_ACERCA_DE {
    display: inline-block;
    background-color: rgba(129, 129, 129, 0.59);
    margin: 25px;
    padding: 25px;
}

.button-14 {
  background-image: linear-gradient(#f7f8fa ,#e7e9ec);
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  box-shadow: rgba(255,255,255,.6) 0 1px 0 inset;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",Arial,sans-serif;
  font-size: 14px;
  height: 29px;
  font-size: 13px;
  outline: 0;
  overflow: hidden;
  padding: 0 11px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-14:active {
  border-bottom-color: #a2a6ac;
}

.button-14:active:hover {
  border-bottom-color: #a2a6ac;
}

.button-14:hover {
  border-color: #a2a6ac #979aa1 #82858a;
}

.button-14:focus {
  border-color: #e70000;
  box-shadow: rgba(228, 17, 17, 0.5) 0 0 3px 2px;
  outline: 0;
}

.cuadrado-personalizado {
  width: 75%;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.250);
  position: center;
  margin-left: auto;
  margin-right: auto;
}

/* modo negro */
/* Estilos predeterminados (modo claro) */
body {
  background-color: white;
  color: black;
}

/* Estilos del modo oscuro */
body.dark-mode {
  background-color: #444444; /* Un tono de gris oscuro */
  color: white;
}

/* Puedes aplicar estos estilos a otros elementos también */
body.dark-mode .navbar {
  background-color: #1e1e1e;
}

/* Estilos para cuando el usuario tiene el modo oscuro activado en su sistema */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #444444;
    color: white;
  }
  /* ... otros estilos oscuros ... */
  .cuadrado-personalizado {
  width: 75%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.25);
  position: center;
  margin-left: auto;
  margin-right: auto;

  }

  .button-14 {
  background-image: linear-gradient(#555759 ,#565759);
  border-color: #323335 #3f4144 #3c3d40;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  box-shadow: rgba(212, 212, 212, 0.6) 0 1px 0 inset;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",Arial,sans-serif;
  font-size: 14px;
  height: 29px;
  font-size: 13px;
  outline: 0;
  overflow: hidden;
  padding: 0 11px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  }

  .button-14:active {
    border-bottom-color: #33f825;
  }

  .button-14:active:hover {
    border-bottom-color: #1aff00;
  }

  .button-14:hover {
    border-color: #19ff62 #10cd3f #10f770;
  }

  .button-14:focus {
    border-color: #99ff00;
    box-shadow: rgba(111, 255, 0, 0.5) 0 0 3px 2px;
    outline: 0;
  }
}

